{%load static%}
<!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="{%static 'assets/vendors/popper/popper.min.js' %}"></script>
    <script src="{%static 'assets/vendors/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{%static 'assets/vendors/anchorjs/anchor.min.js' %}"></script>
    <script src="{%static 'assets/vendors/is/is.min.js' %}"></script>
    <script src="{%static 'assets/vendors/fontawesome/all.min.js' %}"></script>
    <script src="{%static 'assets/vendors/lodash/lodash.min.js' %}"></script>
    <script src="{%static 'assets/vendors/list.js/list.min.js' %}"></script>
    <script src="{%static 'assets/vendors/feather-icons/feather.min.js' %}"></script>
    <script src="{%static 'assets/vendors/dayjs/dayjs.min.js' %}"></script>
    <script src="{%static 'assets/vendors/leaflet/leaflet.js' %}"></script>
    <script src="{%static 'assets/vendors/leaflet.markercluster/leaflet.markercluster.js' %}"></script>
    <script src="{%static 'assets/vendors/leaflet.tilelayer.colorfilter/leaflet-tilelayer-colorfilter.min.js' %}"></script>
    <script src="{%static 'assets/js/phoenix.js' %}"></script>
    <script src="{%static 'assets/vendors/echarts/echarts.min.js' %}"></script>
    <script src="{%static 'assets/js/ecommerce-dashboard.js' %}"></script>
    <script src="{%static 'assets/vendors/echarts/echarts.min.js' %}"></script>

    <script src="{%static 'assets/js/sweetalert2@11.js'%}"></script>
    <script src="{%static 'assets/js/sweetalert2.all.js'%}"></script>
    <script src="{%static 'assets/js/sweetalert2.all.min.js'%}"></script>
    <script src="{%static 'assets/js/sweetalert2.js'%}"></script>
    <script src="{%static 'assets/js/sweetalert2.min.js'%}"></script>
    <script src="{%static 'assets/js/axios.min.js' %}"></script>
    <script src="{%static 'assets/js/vuejs.js' %}"></script>
    
    <script src="{%static 'assets/js/login.js'%}"></script>